.sidebar {
  position: fixed;
  top: 35px;
  left: 0;
  width: 240px;
  height: calc(100vh - 60px);
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  transition: width 0.3s ease;
}

.dark .sidebar {
  background-color: #1e1e1e;
  box-shadow: 2px 0 5px rgba(255, 255, 255, 0.1);
}

.sidebar.collapsed {
  width: 60px;
  align-items: center;
}

.sidebar-compose-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 0 12px;
  margin-top: 40px; 
  margin-bottom: 20px;
}

.sidebar.collapsed .sidebar-compose-toggle {
  flex-direction: column-reverse;
  justify-content: center;
  gap: 10px;
}

.compose-button {
  background-color: #fff;
  color: #000;
  border: 1px solid #ddd;
  padding: 14px 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  max-width: 160px;
  transition: all 0.3s ease;
}

.compose-button:hover {
  background-color: #4c4d4e;
  color: #fff;
}

.sidebar.collapsed .compose-button {
  width: 44px;
  height: 44px;
  padding: 0;
  font-size: 20px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.sidebar.collapsed .compose-button span {
  display: none;
}

.sidebar-toggle-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: inherit;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.sidebar-toggle-button:hover {
  background-color: #ddd;
}

.dark .sidebar-toggle-button:hover {
  background-color: #333;
}

.sidebar-buttons {
  display: flex;
  flex-direction: column;
}

.sidebar-button {
  background: none;
  border: none;
  text-align: left;
  padding: 10px 20px;
  font-size: 15px;
  color: #000;
  display: flex;
  align-items: center;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar-button:hover {
  background-color: #b6b7b9;
  color: #fff;
  font-weight: bold;
}

.sidebar-button span {
  margin-left: 10px;
}

.sidebar.collapsed .sidebar-button span {
  display: none;
}

.dark .sidebar-button {
  color: #e8eaed;
}

.dark .sidebar-button:hover {
  background-color: #333;
  color: #fff;
}


.dark .compose-button {
  background-color: #2c2c2c;
  color: #fff;
  border: 1px solid #444;
}

.dark .compose-button:hover {
  background-color: #444;
  color: #fff;
}

.dark .sidebar.collapsed .compose-button {
  background-color: #2c2c2c;
  color: #fff;
  border: 1px solid #444;
}

.dark .sidebar-toggle-button {
  color: #e8eaed;
  background-color: transparent;
  border: 1px solid #444;
}

.dark .sidebar-toggle-button:hover {
  background-color: #444;
}

.sidebar-button.active {
    background-color: #404041;
    color: #c4c4c5;
    font-weight: bold;
    transition: background-color 1s, color 1s, font-weight 1s;
  }

  .dark .sidebar-button.active {
    background-color: #2a2a2a;
    color: #ffffff;
  }